<?xml version="1.0" encoding="UTF-8"?>
<config>

	
	<network name = "GTI_LOWCOST" 			config="115200,8,1,0,0"/>
	<class id = "GTI_LOWCOST" 				queryRegAddress = "1202"	storage = "input" 	networkTimeout = "200"/>
	
	<sensor name = "GTI_LOWCOST" class = "GTI_LOWCOST" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "100" >
		
		<register id = "hSerial" 			title = "Серийный номер" 				storage = "holding"	addr = "700"	type = "uint32"/>
		<register id = "Troom"	 			title = "Комнатная температура, °С"			storage = "holding"	addr = "702"	type = "float"/>
		<register id = "VatTroom"	 		title = "Значение RAW Температуры, при комнатной, В"	storage = "holding"	addr = "704"	type = "float"/>
		
		
		<register id = "serial" 			title = "Серийный номер" 				storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 						storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 				storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 					storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 			title = "Время наработки" 				storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 				storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 					storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 				storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 				storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 				storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 			title = "Количество каналов" 				storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 			title = "Каналы 1-4" 					storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8"			title = "Каналы 5-8" 					storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "t_max" 				title = "Максимальная температура, °С" 			storage = "input" 	addr = "1223" 	type = "float"		hint = "50"/>
		<register id = "t_min" 				title = "Минимальная температура, °С" 			storage = "input" 	addr = "1225" 	type = "float"		hint = "-50"/>
		<register id = "t_current" 			title = "Текущая температура, °С" 			storage = "input" 	addr = "1227" 	type = "float"/>
		<register id = "t_raw"	 			title = "RAW температура, В" 				storage = "input" 	addr = "1229" 	type = "float"/>		
		<register id = "cntTable" 			title = "Количество таблиц"	 			storage = "holding" 	addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 			title = "Адрес таблицы 1" 				storage = "holding" 	addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 			title = "Размер таблицы 1" 				storage = "holding" 	addr = "802" 	type = "uint16"/>
		<register id = "addrTable2" 			title = "Адрес таблицы 2" 				storage = "holding" 	addr = "803" 	type = "uint16"/>
		<register id = "sizeTable2" 			title = "Размер таблицы 2" 				storage = "holding" 	addr = "804" 	type = "uint16"/>
		
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"		
		 												format = "hexadecimal" 
														hint = "Выход за рабочий диапазон по температуре;
														Внешний датчик отключен (отсутствует поплавок);
														Нет ответа по SPI, I2C;
														Ошибка  данных;
														Внешняя ошибка;
														Ошибка в калибровочной таблице"/>				
		<channel id = "0" source = "t_current"/>		
				
		<command id = "registers"			title = "Регистры" 			method = "registers"/>
		<command id = "channels" 			title = "Каналы" 			method = "channels"/>
		<command id = "setAddr" 			title = "Задать адрес" 			method = "requestSetAddress"	args="hSerial"/>
		<command id = "reset" 				title = "Перезапуск датчика"		method = "requestReset"/>
		<command id = "sinchro"				title = "Синхронизация регистров" 	method = "synchronize"/>
		
	</sensor>
	
	<sensor name="GTI DUP" base="GTI_LOWCOST" type="47" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Уровень, м" 					storage = "input" 	addr = "1401" 	type = "float" precision="3"/>
		<register id = "data2" 				title = "Уровень калиброванный"				storage = "input" 	addr = "1403" 	type = "double"/>
		<register id = "data3" 				title = "Кол-во активных элементов"			storage = "input" 	addr = "1407" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"	calTable = "0"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		
	</sensor>
	
	<sensor name="GTI DNK" base="GTI_LOWCOST" type="83" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Вес, T" 			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 				storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
		
		<register id = "adc_offset" 			title = "Сдвиг" 			storage = "holding" 	addr = "706" 	type = "int32"/>
		
	</sensor>
	
	<sensor name="GTI DPLM" base="GTI_LOWCOST" type="85" calTables="1">
	
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Положение, %"				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 					storage = "input" 	addr = "1403" 	type = "uint16"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
		
	</sensor>
	
	<sensor name="GTI DMR" base="GTI_LOWCOST" type="86" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Момент" 			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 				storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		<channel id = "3" source = "data2" calTable = "0"/>
		

		<register id = "adc_offset" 		title = "Сдвиг" 				storage = "holding" 	addr = "706" 	type = "int32"/>

		
	</sensor>
	
	<sensor name="GTI DPA" base="GTI_LOWCOST" type="90" calTables="1">
	
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Плотность, г/см^3"			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 					storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		<channel id = "3" source = "data2" calTable = "0"/>
		

		<register id = "adc_offset" 		title = "Сдвиг" 				storage = "holding" addr = "706" 	type = "int32"/>
		
	</sensor>

	<sensor name="GTI DDI" base="GTI_LOWCOST" type="84" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Давление, Ат." 		storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 				storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
		
		<register id = "adc_offset" 			title = "Сдвиг" 			storage = "holding" addr = "706" 	type = "int32"/>

		
	</sensor>
			
	<sensor name="GTI DDI_TERM" base="GTI_LOWCOST" type="152" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Давление, Ат."			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура, °С"		storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Коды" 				storage = "input" 	addr = "1405" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		<channel id = "3" source = "data2"/>
		<channel id = "4" source = "data3" calTable = "0"/>
		
		<register id = "adc_offset" 			title = "Сдвиг" 			 	storage = "holding" addr = "706" 	type = "int32"/>
		<register id = "a"				title = "Коэф. а"			 	storage = "holding" addr = "708" 	type = "float"/>
		<register id = "Temp"				title = "Температура при калибровке, °С" 	storage = "holding" addr = "710" 	type = "float"/>
		
		<register id = "termo" 			        title = "Флаг завершения термокомпенсации" 	storage = "holding" addr = "712" 	type = "uint16"/>
				
		<register id = "tcom1"				title = "Минимальная температура, °С"		storage = "holding" addr = "714" 	type = "float"/>
		<register id = "code1" 				title = "Коды при минимальной температуре" 	storage = "holding" addr = "720" 	type = "int32"/>
		<register id = "tcom2"				title = "Комнатная температура, °С"		storage = "holding" addr = "716" 	type = "float"/>
		<register id = "code2" 				title = "Коды при комнатной температуре" 	storage = "holding" addr = "722" 	type = "int32"/>
		<register id = "tcom3"				title = "Максимальная температура, °С"		storage = "holding" addr = "718" 	type = "float"/>		
		<register id = "code3" 				title = "Коды при максимальной температуре" 	storage = "holding" addr = "724" 	type = "int32"/>
		
	</sensor>
	
	<sensor name="GTI DDI_DT" base="GTI_LOWCOST" type="76" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Давление, Ат."			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура, °С"		storage = "input" 	addr = "1403" 	type = "float" precision="3"/>
		<register id = "data3" 				title = "Коды" 				storage = "input" 	addr = "1405" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		<channel id = "3" source = "data2"/>
		<channel id = "4" source = "data3" calTable = "0"/>
		
		<register id = "adc_offset" 			title = "Сдвиг" 			storage = "holding" addr = "706" 	type = "int32"/>

		
	</sensor>
	
	<sensor name="GTI DT" base="GTI_LOWCOST" type="49" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Температура, °С"		storage = "input" 	addr = "1401" 	type = "float" precision="3"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		
	</sensor>
	
	<sensor name="GTI DEPR" base="GTI_LOWCOST" type="153" calTables="1">
	
		<register id = "status" 			title = "Статус" 		        	storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Проводимость, сименс/м"		storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура"				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Коды"					storage = "input" 	addr = "1405" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		<channel id = "3" source = "data2"/>
		<channel id = "4" source = "data3" calTable = "0"/>

		<register id = "adc_offset" 		title = "Сдвиг" 				storage = "holding" addr = "706" 	type = "int32"/>
		<register id = "pwn_n" 				title = "Инвертировать ШИМ" 		storage = "holding" addr = "712" 	type = "uint16"/>
		
	</sensor>

	<sensor name="GTI GAS H2S" base="GTI_LOWCOST" type="155" calTables="1">
	
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Концентрация H2S 0-50 mg/m3" 		storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Исходная концентрация H2S 0-50 mg/m3"	storage = "input" 	addr = "1403" 	type = "float"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
		
	</sensor>
	
		<sensor name="GTI GAS CO2" base="GTI_LOWCOST" type="156" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Концентрация CO2 0-5% об.ед" 			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Исходная концентрация"				storage = "input" 	addr = "1403" 	type = "int32"/>
				
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
	</sensor>
	
		<sensor name="GTI GAS CH" base="GTI_LOWCOST" type="157" calTables="1">
	
		<register id = "status" 			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Концентрация CH 0-100 НКПР"	 		storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Исходная концентрация"				storage = "input" 	addr = "1403" 	type = "int32"/>
				
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
	</sensor>
	<sensor name="GTI GAS SUM" base="GTI_LOWCOST" type="164" calTables="1">
	
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Концентрация CH 0-100"	 		storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Исходная концентрация"			storage = "input" 	addr = "1403" 	type = "int32"/>
				
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
	</sensor>
	
	
	<sensor name="GTI MSG" base="GTI_LOWCOST" type="154" calTables="1">
	
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Скорость ветра"			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Относительная влажность, %"		storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Давление, мм рт. ст."			storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "Температура, °С"			storage = "input" 	addr = "1407" 	type = "float" precision="3"/>

		<register id = "data6" 				title = "min Коды"				storage = "input" 	addr = "1233" 	type = "int32"/>
		<register id = "data7" 				title = "max Коды"				storage = "input" 	addr = "1235" 	type = "int32"/>
		<register id = "data8" 				title = "min Скорость ветра"			storage = "input" 	addr = "1237" 	type = "float"/>
		<register id = "data9" 				title = "max Скорость ветра"			storage = "input" 	addr = "1239" 	type = "float"/>
		<register id = "data10"				title = "min Относительная влажность, %"	storage = "input" 	addr = "1241" 	type = "float"/>
		<register id = "data11"				title = "max Относительная влажность, %"	storage = "input" 	addr = "1243" 	type = "float"/>
		<register id = "data12" 			title = "min Давление, мм рт. ст."		storage = "input" 	addr = "1245" 	type = "float"/>
		<register id = "data13" 			title = "max Давление, мм рт. ст."		storage = "input" 	addr = "1247" 	type = "float"/>
		<register id = "data14"				title = "min Температура, °С"			storage = "input" 	addr = "1249" 	type = "float" precision="3"/>
		<register id = "data15" 			title = "max Температура, °С"			storage = "input" 	addr = "1251" 	type = "float" precision="3"/>


		<register id = "data5" 				title = "Коды"					storage = "input" 	addr = "1409" 	type = "int32"/>
		
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2"/>
		<channel id = "4" source = "data3"/>
		<channel id = "5" source = "data4"/>
		<channel id = "6" source = "data5" calTable = "0" />

		
	</sensor>

	<sensor name="GTI DIO" base="GTI_LOWCOST" type="159" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Выхода"						storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Входа"							storage = "input" 	addr = "1402" 	type = "uint16"/>
		
		<register id = "mask" 				title = "Маска дискретных выходов"				storage = "holding" addr = "600" 	type = "int32"/>
		<register id = "value" 				title = "Значение дискретных выходов"				storage = "holding" addr = "602" 	type = "int32"/>

		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI BZUD" base="GTI_LOWCOST" type="160" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Статус мотора"						storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Активная мощность"					storage = "input" 	addr = "1402" 	type = "uint16"/>
		
		<register id = "mask" 				title = "Маска дискретных выходов"				storage = "holding" addr = "600" 	type = "int32"/>
		<register id = "value" 				title = "Значение дискретных выходов"				storage = "holding" addr = "602" 	type = "int32"/>

		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
	</sensor>
	
	<sensor name="GTI DAPO" base="GTI_LOWCOST" type="172" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Статус мотора"						storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Активная мощность"					storage = "input" 	addr = "1402" 	type = "uint16"/>
		<register id = "data3" 				title = "Температура 1 канала"					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data4" 				title = "Температура 2 канала"					storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data5" 				title = "Температура 3 канала"					storage = "input" 	addr = "1407" 	type = "float"/>
		<register id = "data6" 				title = "Температура 4 канала"					storage = "input" 	addr = "1409" 	type = "float"/>
		
		<register id = "mask" 				title = "Маска дискретных выходов"				storage = "holding" addr = "600" 	type = "int32"/>
		<register id = "value" 				title = "Значение дискретных выходов"				storage = "holding" addr = "602" 	type = "int32"/>

		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		<channel id = "4" source = "data4"/>
		<channel id = "5" source = "data5"/>
		<channel id = "6" source = "data6"/>
	</sensor>
	
	<sensor name="GTI DOPM-01" base="GTI_LOWCOST" type="58" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3"				title = "Частота калиброванная" 			storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2"	calTable = "0"/>
		<channel id = "4" source = "data3"/>
				
	</sensor>
	<sensor name="GTI DOPM" base="GTI_LOWCOST" type="42" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "uint32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float" precision="3"/>
		<register id = "data3"				title = "Частота калиброванная" 			storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2"	calTable = "0"/>
		<channel id = "4" source = "data3"/>
				
	</sensor>
	
		<sensor name="GTI PAS" base="GTI_LOWCOST" type="161" calTables="2">
	
		<register id = "status" 			title = "Статус" 		storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "u"			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "i"			storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "code"			storage = "input" 	addr = "1405" 	type = "int32"/>

		<register id = "adc_offset" 			title = "Сдвиг"			storage = "holding"	addr = "706" 	type = "int32"/>

		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" calTable = "0"/>
		<channel id = "3" source = "data2" calTable = "1"/>
		<channel id = "4" source = "data3" />		
	</sensor>
	
	<sensor name="GTI IPAS" base="GTI_LOWCOST" type="165" calTables="2">
	
		<register id = "status" 			title = "Статус" 	storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "u"		storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "i"		storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Частота, Гц"	storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "code"		storage = "input" 	addr = "1407" 	type = "int32"/>

		<register id = "adc_offset" 			title = "Сдвиг"		storage = "holding"	addr = "706" 	type = "int32"/>

		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" calTable = "0"/>
		<channel id = "3" source = "data2" calTable = "1"/>
		<channel id = "4" source = "data3" />		
		<channel id = "5" source = "data4" />		
	</sensor>
	
	<sensor name="GTI DUU" base="GTI_LOWCOST" type="57" calTables="0">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Расстояние, мм" 				storage = "input" 	addr = "1401" 	type = "uint16"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
				
	</sensor>
	
	<sensor name="GTI DKM" base="GTI_LOWCOST" type="59" calTables="0">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "X"		 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Y"		 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Z"		 				storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2"/>
		<channel id = "4" source = "data3"/>
				
	</sensor>
	
	<sensor name="GTI DOL100" base="GTI_LOWCOST" type="61" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3"				title = "Vbat" 			storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2"	calTable = "0"/>
		<channel id = "4" source = "data3"/>
				
	</sensor>
	
	<sensor name="GTI MIP" base="GTI_LOWCOST" type="5000" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "1" source = "status"/>				
	</sensor>
	
	<sensor name="GTI DSET" base="GTI_LOWCOST" type="162" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Ток, А"	 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 						storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2" calTable = "0"/>
		
		<register id = "adc_offset" 			title = "Сдвиг" 			storage = "holding" addr = "706" 	type = "int32"/>		
	</sensor>
	
	<sensor name="GTI EM260" base="GTI_LOWCOST" type="163" calTables="0">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Массовый расход, кг/с"				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Плотность, г/см3"				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Температура, °С"				storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "Объёмный расход, л/c" 				storage = "input" 	addr = "1407" 	type = "float"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2"/>
		<channel id = "4" source = "data3"/>
		<channel id = "5" source = "data4"/>
		
		<register id = "adc_offset" 			title = "Сдвиг" 			storage = "holding" addr = "706" 	type = "int32"/>		
	</sensor>
	
	<sensor name="GTI DH" base="GTI_LOWCOST" type="166" calTables="0">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1"				title = "Частота" 					storage = "input" 	addr = "1401" 	type = "uint32"/>

		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
				
	</sensor>
	
	<sensor name="GTI DNK" base="GTI_LOWCOST" type="167" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Вес, T" 			storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Направление, [град]"		storage = "input" 	addr = "1403" 	type = "uint16"/>
		<register id = "data3" 				title = "Коды" 				storage = "input" 	addr = "1404" 	type = "int32"/>
		
		<register id = "data4" 				title = "Коды, 1 канал"			storage = "input" 	addr = "1406" 	type = "int32"/>
		<register id = "data5" 				title = "Коды, 2 канал"			storage = "input" 	addr = "1408" 	type = "int32"/>
		<register id = "data6" 				title = "Коды, 3 канал"			storage = "input" 	addr = "1410" 	type = "int32"/>
		<register id = "data7" 				title = "Коды, 4 канал"			storage = "input" 	addr = "1412" 	type = "int32"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data3" calTable = "0"/>
		
		<channel id = "4" source = "data2"/>
		
		<channel id = "5" source = "data4"/>
		<channel id = "6" source = "data5"/>
		<channel id = "7" source = "data6"/>
		<channel id = "8" source = "data7"/>
		
		<register id = "adc_offset" 			title = "Сдвиг" 			storage = "holding" 	addr = "706" 	type = "int32"/>
		
	</sensor>
	
	<sensor name="GTI RW" base="GTI_LOWCOST" type="168" calTables="0">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Плотность, г/см3"				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Расход, м/с"					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Температура, °С"				storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "Давление, атм" 				storage = "input" 	addr = "1407" 	type = "float"/>
		
		<register id = "data5" 				title = "Частота, Гц" 					storage = "input" 	addr = "1409" 	type = "float"/>
		<register id = "data6" 				title = "Амплитуда первого сенсора, мВ"			storage = "input" 	addr = "1411" 	type = "float"/>
		<register id = "data7" 				title = "Амплитуда второго сенсора, мВ"			storage = "input" 	addr = "1413" 	type = "float"/>
		<register id = "data8" 				title = "Объём, м3"	 				storage = "input" 	addr = "1415" 	type = "float"/>
		<register id = "data9" 				title = "Сдвиг фаз между сенсорами"			storage = "input" 	addr = "1417" 	type = "float"/>
		<register id = "data10"				title = "Разность амплитуд сенсоров, мВ"		storage = "input" 	addr = "1419" 	type = "float"/>
		<register id = "data11"				title = "Внешняя температура, °С"			storage = "input" 	addr = "1421" 	type = "float"/>
		<register id = "data12"				title = "Первичный расход" 				storage = "input" 	addr = "1423" 	type = "float"/>
		<register id = "data13"				title = "Значение АЦП датчика давления"			storage = "input" 	addr = "1425" 	type = "float"/>
		<register id = "data14"				title = "Нагрузка на магнит" 				storage = "input" 	addr = "1427" 	type = "float"/>
		<register id = "data15"				title = "Первичная плотность" 				storage = "input" 	addr = "1429" 	type = "float"/>
		<register id = "data16"				title = "Амплитуда магнита, мВ" 			storage = "input" 	addr = "1431" 	type = "float"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1"/>
		<channel id = "3" source = "data2"/>
		<channel id = "4" source = "data3"/>
		<channel id = "5" source = "data4"/>
		
		<register id = "cmd_clear" 			title = "Сброс" 					storage = "holding" 	addr = "600" 	type = "int32"/>

	</sensor>
	
	<sensor name="GTI DT2CH" base="GTI_LOWCOST" type="169" calTables="0">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Температура, °С"		storage = "input" 	addr = "1401" 	type = "float" precision="3"/>
		<register id = "data2" 				title = "Температура, °С"		storage = "input" 	addr = "1403" 	type = "float" precision="3"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		<channel id = "3" source = "data2" />
		
	</sensor>
	
	<sensor name="GTI DT4CH" base="GTI_LOWCOST" type="171" calTables="0">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Температура1, °С"		storage = "input" 	addr = "1401" 	type = "float" precision="3"/>
		<register id = "data2" 				title = "Температура2, °С"		storage = "input" 	addr = "1403" 	type = "float" precision="3"/>
		<register id = "data3" 				title = "Температура3, °С"		storage = "input" 	addr = "1405" 	type = "float" precision="3"/>
		<register id = "data4" 				title = "Температура4, °С"		storage = "input" 	addr = "1407" 	type = "float" precision="3"/>
		<register id = "pwm" 				title = "PWM"				storage = "input" 	addr = "1409" 	type = "float" precision="3"/>
		<register id = "targetT" 			title = "Целевая температура"		storage = "holding" 	addr = "732" 	type = "float" precision="3"/>
				
		<register id = "kp" 				title = "Kp" 				storage = "holding" 	addr = "726" 	type = "float" precision="6"/>
		<register id = "kd" 				title = "Kd" 				storage = "holding" 	addr = "728" 	type = "float" precision="6"/>
		<register id = "ki" 				title = "Ki" 				storage = "holding" 	addr = "730" 	type = "float" precision="6"/>
		
		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		<channel id = "3" source = "data2" />
		<channel id = "4" source = "data3" />
		<channel id = "5" source = "data4" />
		<channel id = "6" source = "pwm" />
		
	</sensor>
	
	<sensor name="GTI PCS" base="GTI_LOWCOST" type="170" calTables="0">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Заводской номер"		storage = "input" 	addr = "1401" 	type = "uint32"/>

		<channel id = "1" source = "status"/>
		<channel id = "2" source = "data1" />
		
	</sensor>
	
</config>

