<?xml version="1.0" encoding="UTF-8"?>
<config>

	<network name = "SAKM" 			config="19200,8,1,0,0"/>
	

	<class id = "SAKM" 				queryRegAddress = "1210"	storage = "input"	networkTimeout = "500"/>

<!--SAKM sensor define-->
	<sensor name = "SAKM" class = "SAKM" type = "0" calTables = "1" calTablesIndexAddr = "2100" calTablesAddr = "2200" refreshTime = "500" firmwarePath = "C:/Users/KurbakoAV/Desktop">
	
		<register id = "serial"				title = "Серийный номер"		storage = "input"	addr = "1200"	type = "uint32"/>
		<register id = "type_location" 			title = "Тип; Местоположение" 		storage = "input"	addr = "1202" 	type = "uint8"		count = "2"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 		storage = "input" 	addr = "1300" 	type = "uint16" 	format = "version"/>
		<register id = "swVersion" 			title = "Версия ПО" 			storage = "input" 	addr = "1301" 	type = "uint32" 	format = "version"/>

		
		<register id = "hSerial" 			title = "Серийный номер" 		storage = "holding" addr = "2000" 	type = "uint32"/>
		<register id = "hLocation" 			title = "Местоположение" 		storage = "holding" addr = "2002" 	type = "uint16"/>
		<register id = "hType" 				title = "Тип" 				storage = "holding" addr = "2003" 	type = "uint16"		format = "typeName"/>
		
		<register id = "cntTable" 			title = "Количество таблиц" 		storage = "holding" addr = "2100"	type="uint16"/>
		<register id = "addrTable1"	 		title = "Адрес таблицы 1" 		storage = "holding" addr = "2101" 	type="uint16"/>
		<register id = "sizeTable1" 			title = "Размер таблицы 1"		storage = "holding" addr = "2102" 	type="uint16"/>
		
		<register id = "status"				title = "Статус" 					storage = "input" 	addr = "1400" 	type = "int32" 
																																	format = "hexadecimal" 
																																	hint = "Всё хорошо" />
		<register id = "value" 				title = "Значение переменной" 		storage = "input" 	addr = "1402" 	type = "float"/>
		<register id = "raw" 				title = "Коды" 						storage = "input" 	addr = "1404" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value"/>
		<channel id = "2" source = "raw"  calTable = "0"/>
		
		<command id = "registers"			title="Регистры" 			method="registers"/>
		<command id = "channels" 			title="Каналы" 				method="channels"/>

		<command id = "broadcast" 			title="Широковещательный адрес" 	method="requestSetBroadcast"/>
		<command id = "setAddr" 			title="Задать адрес" 			method="requestSetAddress" 		args="hSerial"/>
		<command id = "reset" 				title="Перезапуск датчика" 		method="requestReset"/>
		
	</sensor>

	<sensor name = "SAKM DT"	base = "SAKM" type = "1" calTables = "1">
	
		<register id = "status"				title = "Статус" 			storage = "input" 	addr = "1400" 	type = "int32"/>
		<register id = "value" 				title = "Температура" 			storage = "input" 	addr = "1402" 	type = "float"/>
		<register id = "raw" 				title = "Код" 				storage = "input" 	addr = "1404" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value"/>
		<channel id = "2" source = "raw"  calTable = "0"/>
		
	</sensor>
	
	<sensor name = "SAKM DDI"	base = "SAKM" type = "2" calTables = "1">
		
		<register id = "status"				title = "Статус" 			storage = "input" 	addr = "1400" 	type = "int32"/>
		<register id = "value" 				title = "Давление" 			storage = "input" 	addr = "1402" 	type = "float"/>
		<register id = "raw" 				title = "Код" 				storage = "input" 	addr = "1404" 	type = "int32"/>
		<register id = "temp" 				title = "Температура"			storage = "input" 	addr = "1406" 	type = "float"/>
	
		<register id = "Tmin" 				title = "Тmin" 				storage = "holding" addr = "2004" 	type = "float"/>
		<register id = "Kmin" 				title = "Код min" 			storage = "holding" addr = "2006" 	type = "int32"/>
		<register id = "Tmax" 				title = "Тmax" 				storage = "holding" addr = "2008" 	type = "float"/>
		<register id = "Kmax" 				title = "Код max" 			storage = "holding" addr = "2010" 	type = "int32"/>
		<register id = "Troom" 				title = "Тroom" 			storage = "holding" addr = "2012" 	type = "float"/>						

			
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value"/>
		<channel id = "2" source = "raw" calTable = "0"/>
		<channel id = "3" source = "temp"/>
	
	</sensor>
	
	<sensor name = "SAKM DDI"	base = "SAKM" type = "22" calTables = "1">
	
		<register id = "status"				title = "Статус" 			storage = "input" 	addr = "1400" 	type = "int32"/>
		<register id = "value" 				title = "Давление" 			storage = "input" 	addr = "1402" 	type = "float"/>
		<register id = "raw" 				title = "Код" 				storage = "input" 	addr = "1404" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value"/>
		<channel id = "2" source = "raw" calTable = "0"/>
	
	</sensor>
	
	<sensor name = "SAKM DDI"	base = "SAKM" type = "202" calTables = "1">
		
		<register id = "status"				title = "Статус" 			storage = "input" 	addr = "1400" 	type = "int32"/>
		<register id = "value" 				title = "Давление" 			storage = "input" 	addr = "1402" 	type = "float"/>
		<register id = "raw" 				title = "Код" 				storage = "input" 	addr = "1404" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value"/>
		<channel id = "2" source = "raw" calTable = "0"/>
	
	</sensor>
	
	<sensor name = "SAKM DH"	base = "SAKM" type = "3" calTables = "1">
		
		<register id = "status"				title = "Статус" 			storage = "input" 	addr = "1400" 	type = "int32"/>
		<register id = "value" 				title = "Влажность" 			storage = "input" 	addr = "1402" 	type = "float"/>
		<register id = "raw" 				title = "Код" 				storage = "input" 	addr = "1404" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value"/>
		<channel id = "2" source = "raw"  calTable = "0"/>
	
	</sensor>
</config>
