<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<network name = "BIB" 		config="57600,8,1,0,0"/>
	
	<class id = "BIB" 			queryRegAddress = "1202"	storage = "input" 	networkTimeout = "500"/>
	
<!--SNKSIK sensor define-->
	<sensor name = "BIB" class = "BIB" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "1000" >
		
		<register id = "hSerial" 			title = "Серийный номер" 			storage = "holding"	addr = "700"	type = "uint32"/>
		
		<register id = "serial" 			title = "Серийный номер" 			storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 					storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 			storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 				storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 			title = "Время наработки" 			storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 			storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 				storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 			storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 			storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 			storage = "input" 	addr = "1213" 	type = "uint16"/>
		
		
		
		<register id = "cntTable" 			title = "Количество таблиц" 			storage = "holding" addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 			title = "Адрес таблицы 1" 			storage = "holding" addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 			title = "Размер таблицы 1" 			storage = "holding" addr = "802" 	type = "uint16"/>
		

		<register id = "offset X" 			title = "Смещение по оси X" 			storage = "holding" addr = "703"	type = "int16"/>
		<register id = "offset Y" 			title = "Смещение по оси Y" 			storage = "holding" addr = "704"	type = "int16"/>
		<register id = "offset Z" 			title = "Смещение по оси Z" 			storage = "holding" addr = "705"	type = "int16"/>
		
		<command id = "registers"			title = "Регистры" 					method = "registers"/>
		<command id = "channels" 			title = "Каналы" 					method = "channels"/>
		<command id = "reset" 				title = "Перезапуск устройства"				method = "requestReset"/>
		<command id = "meas" 				title = "Начать измерение"				method = "sendRaw" args="104" networkTimeout = "500"/>
		<command id = "DCPlot" 				title = "Отобразить в DCPlot" 				method = "execute" args="DCPlot.exe --projectpath %dcdPath%"/>
		
	</sensor>

	<sensor name="BIB Transmitter" base="BIB" type="109" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Сопротивление" 				storage = "input" 	addr = "1401" 	type = "uint32"/>
		<register id = "data2" 				title = "Температура" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Напряжение" 					storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "Обороты" 					storage = "input" 	addr = "1407" 	type = "int32"/>
		<register id = "data5" 				title = "Скорость оборотов"				storage = "input" 	addr = "1409" 	type = "float"/>
		<register id = "data6" 				title = "Флаги" 					storage = "input" 	addr = "1411" 	type = "uint16"/>
		<register id = "data7" 				title = "Остаток времени"				storage = "input" 	addr = "1412" 	type = "uint32"/>

		<register id = "code" 				title = "Код"						storage = "input" 	addr = "1415" 	type = "uint32"/>
		<register id = "accel x" 			title = "Ускорение по оси X"				storage = "input" 	addr = "1417" 	type = "int16"/>
		<register id = "accel y" 			title = "Ускорение по оси Y"				storage = "input" 	addr = "1418" 	type = "int16"/>
		<register id = "accel z" 			title = "Ускорение по оси Z"				storage = "input" 	addr = "1419" 	type = "int16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" />
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		<channel id = "4" source = "data4"/>
		<channel id = "5" source = "data5"/>
		<channel id = "6" source = "data6"/>
		<channel id = "7" source = "data7"/>
		<channel id = "8" source = "code" calTable = "0"/>
		
	</sensor>
	
</config>
