<?xml version="1.0" encoding="UTF-8"?>
<config>

	<network name = "CURRENT_LOOP" 	config="57600,8,1,0,0"/>

	<class id = "CURRENT_LOOP" 		queryRegAddress = "1202"	storage = "input" 	networkTimeout = "200"/>

<!--CURRENT LOOP sensor define-->
	<sensor name = "CURRENT_LOOP" class = "CURRENT_LOOP" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "250">
		
		<register id = "hGainADC"			title = "Коэф. усиления АЦП" 			storage = "holding" addr = "700" 	type = "uint16"/>
		<register id = "hOffsetADC" 			title = "Смещение АЦП" 				storage = "holding" addr = "701" 	type = "int32"/>
		<register id = "hModeADC" 			title = "Режим АЦП" 				storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "hFiltr" 			title = "Тип фильтра АЦП" 			storage = "holding" addr = "704" 	type = "uint16"/>
		<register id = "hSPS" 				title = "Кол-во замеров АЦП" 			storage = "holding" addr = "705" 	type = "uint16"/>
		<register id = "hXMIN" 				title = "X_min" 				storage = "holding" addr = "706" 	type = "float"/>
		<register id = "hXMAX" 				title = "X_max" 				storage = "holding" addr = "708" 	type = "float"/>
		<register id = "hSerial" 			title = "Серийный номер" 			storage = "holding" addr = "710" 	type = "uint32"/>
		<register id = "hType" 				title = "Тип" 					storage = "holding" addr = "712" 	type = "uint32"		format = "typeName"/>
		
		<register id = "serial" 			title = "Серийный номер" 			storage = "input" 	addr = "1200"	type = "uint32"/>
		<register id = "type" 				title = "Тип" 					storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion"			title = "Версия аппаратная" 			storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 				storage = "input" 	addr = "1205" 	type = "uint32" 	format = "version"/>
		<register id = "dataAddr" 			title = "Адрес данных" 				storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 			storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес таблицы" 			storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "calibQty" 			title = "Размер таблицы" 			storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 			title = "Количество каналов" 			storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 			title = "Каналы 1-4" 				storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8" 			title = "Каналы 5-8" 				storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "cntTable" 			title = "Количество таблиц" 			storage = "holding" addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 			title = "Адрес таблицы 1" 			storage = "holding" addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 			title = "Размер таблицы 1" 			storage = "holding" addr = "802" 	type = "uint16"/>
	
		<register id = "status"  			title = "Статус"				storage = "input" 	addr = "1400" 	type = "uint16" 
		format = "hexadecimal" 
		hint = "Выход за нижний рабочий диапазон по температуре;
		Выход за нижний рабочий диапазон по температуре;
		Выход за верхний рабочий диапазон по температуре;																															
		Внешний датчик не подключен;
		Ошибка тактовой частоты контроллера;
		Несоответсвией серийного  номера F-RAM;
		Ошибка контрольной суммы на однопроводной шине;
		Отсутствует устройство на однопроводной шине;
		Ошибка АЦП;
		Тензомост отсутствует;
		Ошибка на шине I2C"/>
																																				
		<register id = "value" 				title = "Коды"				storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Значения переменной"		storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 		storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>

		<command id = "registers" 			title = "Регистры" 			method = "registers"/>
		<command id = "channels" 			title = "Каналы"			method = "channels"/>
		<command id = "setAddr" 			title = "Задать адрес" 			method = "requestSetAddress"	args = "hSerial"/>
		<command id = "reset" 				title = "Перезапуск датчика"		method = "requestReset"/>
		<command id = "sinchro"				title = "Синхронизация регистров" 	method = "synchronize"/>
		
	</sensor>

	<sensor name = "CURRENT_LOOP DNK" base = "CURRENT_LOOP" type = "73" calTables = "1">
	
		<register id = "status"  			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "value" 				title = "Коды"						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Вес"						storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 				storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>

	</sensor>
	
	<sensor name = "CURRENT_LOOP DDI" base = "CURRENT_LOOP" type = "74" calTables = "1">
	
		<register id = "status"  			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "value" 				title = "Коды"						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Давление"					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 			storage = "input" 	addr = "1405" 	type = "float"/>
		
		<register id = "sample"				title = "Sample" 				storage = "input" 	addr = "3000" 	type = "uint16" count = "1024"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>
		
	</sensor>
	
	<sensor name = "CURRENT_LOOP DT" base = "CURRENT_LOOP" type = "79" calTables = "1">
	
		<register id = "status"  			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "value" 				title = "Коды"						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Давление"					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 			storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>
		
	</sensor>
	
	<sensor name = "CURRENT_LOOP FM" base = "CURRENT_LOOP" type = "80" calTables = "1">
	
		<register id = "status"  			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "value" 				title = "Коды"						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Расход"					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 			storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>
		
	</sensor>
	
	<sensor name = "CURRENT_LOOP DOPM" base = "CURRENT_LOOP" type = "81" calTables = "1">
	
		<register id = "status"  			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "value" 				title = "Коды"						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Значения переменной"		storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 			storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>
		
	</sensor>
	
	<sensor name = "SCURRENT_LOOP DT V2" base = "CURRENT_LOOP" type = "82" calTables = "1">
	
		<register id = "status"  			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "value" 				title = "Коды"						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Температура"				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 			storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>
		
	</sensor>
	
	<sensor name = "CURRENT_LOOP DT_TERM" base = "CURRENT_LOOP" type = "83" calTables = "1">
	
		<register id = "a" 					title = "Коэф а" 					storage = "holding" addr = "714" 	type = "float"/>
		<register id = "temperature_calib"	title = "Температура калибровки" 	storage = "holding" addr = "716" 	type = "float"/>
	
		<register id = "status"  			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "value" 				title = "Коды"						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "raw" 				title = "Давление"					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "current"			title = "Ток (расчетный)" 			storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "temperature"		title = "Температура" 			    storage = "input" 	addr = "1407" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "value" calTable = "0"/>
		<channel id = "2" source = "raw"/>
		<channel id = "3" source = "current"/>
		<channel id = "4" source = "temperature"/>
		
	</sensor>

</config>
