<?xml version="1.0" encoding="UTF-8"?>
<config>

	
	<network name = "GTI" 			config="115200,8,1,0,0"/>
	
	<class id = "GTI" 				queryRegAddress = "1202"	storage = "input" 	networkTimeout = "200"/>

<!--Common GTI sensor define-->
<sensor name = "GTI" class = "GTI" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "250" >
		
		<register id = "hSerial" 			title = "Серийный номер" 			storage = "holding"	addr = "700"	type = "uint32"/>
		<register id = "hType" 				title = "Тип" 						storage = "holding"	addr = "702" 	type = "uint16"		format = "typeName"/>
		
		<register id = "serial" 			title = "Серийный номер" 			storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 						storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 		storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 				storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 		title = "Время наработки" 			storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 		storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 				storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 			storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 			storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 		storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 		title = "Количество каналов" 		storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 		title = "Каналы 1-4" 				storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8"			title = "Каналы 5-8" 				storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "t_max" 				title = "Максимальная температура" 	storage = "input" 	addr = "1223" 	type = "float"		hint = "50"/>
		<register id = "t_min" 				title = "Минимальная температура" 	storage = "input" 	addr = "1225" 	type = "float"		hint = "-50"/>
		<register id = "t_current" 			title = "Текущая температура" 		storage = "input" 	addr = "1227" 	type = "float"/>
		
		<register id = "bootloader_mark" 	title = "Марка загрузчика" 			storage = "holding" addr = "5000" 	type = "uint16"/>
		<register id = "bootloader_flag" 	title = "Флаг загрузчика" 			storage = "holding" addr = "5001" 	type = "uint32"/>
		
		<register id = "cntTable" 			title = "Количество таблиц" 		storage = "holding" addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 		title = "Адрес таблицы 1" 			storage = "holding" addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 		title = "Размер таблицы 1" 			storage = "holding" addr = "802" 	type = "uint16"/>
		
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16" 
																																	format = "hexadecimal" 
																																	hint = 
																																		   "Ошибка датчика температуры на плате;
																																			Выход за рабочий диапазон по температуре;
																																			Внешний датчик отключен;
																																			Ошибка на шине 1-ware;
																																			Ошибка тактовой частоты контроллера;
																																			Ошибка FRAM;
																																			Ошибка первичника;
																																			Ошибка в данных первичника;
																																			Ошибка на шине SPI1;
																																			Ошибка на шине I2C1;
																																			Ошибка на шине SPI2;
																																			Ошибка на шине I2C2;
																																			Ошибка на шине последовательного интерфейса" />
		<register id = "data1" 				title = "Температура" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура калиброванная" storage = "input" 	addr = "1403" 	type = "double"/>
		<register id = "data3" 				title = "Ток коды" 					storage = "input" 	addr = "1426" 	type = "uint16"/>
		<register id = "data4" 				title = "Ток рассчетный" 			storage = "input" 	addr = "1427" 	type = "float"/>
		
		<register id = "extendStat1" 		title = "Расширенный статус1" 		storage = "input" 	addr = "1429" 	type = "uint16"/>
		<register id = "extendStat2" 		title = "Расширенный статус2" 		storage = "input" 	addr = "1430" 	type = "uint16"/>
		<register id = "extendStat3" 		title = "Расширенный статус3" 		storage = "input" 	addr = "1431" 	type = "uint16"/>
		<register id = "extendStat4" 		title = "Расширенный статус4" 		storage = "input" 	addr = "1432" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" 	calTable = "0"/>
		<channel id = "2" source = "data2" />
		<channel id = "3" source = "data3" />
		<channel id = "4" source = "data4" />
		
		<command id = "registers"			title = "Регистры" 					method = "registers"/>
		<command id = "channels" 			title = "Каналы" 					method = "channels"/>
		<command id = "setAddr" 			title = "Задать адрес" 				method = "requestSetAddress"	args="hSerial"/>
		<command id = "reset" 				title = "Перезапуск датчика"		method = "requestReset"/>
		<command id = "broadcast" 			title = "Широковещательный адрес" 	method = "requestSetBroadcast"/>
		
	</sensor>

	<sensor name="GTI DOL48" base="GTI" type="41" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3"				title = "Частота калиброванная" 	storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"  calTable = "0"/>
		<channel id = "3" source = "data3"/>
		
		<register id = "mode" 				title = "Режим работы" 				storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "div" 				title = "Делитель" 					storage = "holding" addr = "704" 	type = "uint16"/>
		<register id = "freq" 				title = "Частота таймера" 			storage = "holding" addr = "705" 	type = "uint32"/>
		
	</sensor>

	<sensor name="GTI DOPM" base="GTI" type="42" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3"				title = "Частота калиброванная" 	storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"	calTable = "0"/>
		<channel id = "3" source = "data3"/>
		
		<register id = "mode" 				title = "Режим работы" 				storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "div" 				title = "Делитель" 					storage = "holding" addr = "704" 	type = "uint16"/>
		<register id = "freq" 				title = "Частота таймера" 			storage = "holding" addr = "705" 	type = "uint32"/>
		
	</sensor>

	<sensor name="GTI DOPM-01" base="GTI" type="58" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3"				title = "Частота калиброванная" 	storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"	calTable = "0"/>
		<channel id = "3" source = "data3"/>
		
		<register id = "mode" 				title = "Режим работы" 				storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "div" 				title = "Делитель" 					storage = "holding" addr = "704" 	type = "uint16"/>
		<register id = "freq" 				title = "Частота таймера" 			storage = "holding" addr = "705" 	type = "uint32"/>
		
	</sensor>
	
	<sensor name="GTI DNK" base="GTI" type="43" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Вес" 						storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DDI" base="GTI" type="44" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Давление" 					storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DPK" base="GTI" type="45" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Давление" 					storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DKM" base="GTI" type="46" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Крутящий момент" 			storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DUP" base="GTI" type="47" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Уровень" 					storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Уровень калиброванный"		storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"	calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI DPL" base="GTI" type="48" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Угол" 						storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Угол калиброванный" 		storage = "input" 	addr = "1402" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI DT" base="GTI" type="49" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Температура" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температурв калиброванная" storage = "input" 	addr = "1403" 	type = "double"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
		
	</sensor>
	
	<sensor name="GTI DPA" base="GTI" type="50" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Плотность" 				storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DUU" base="GTI" type="57" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Уровень" 					storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Уровень калиброванный"		storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI DK" base="GTI" type="59" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "X" 						storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Y" 						storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Z" 						storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		
	</sensor>
	
	<sensor name="GTI DSV" base="GTI" type="60" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Скорость ветра" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Скорость ветра калиброванная" 	storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI DDI_DT" base="GTI" type="70" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Давление" 					storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI NRF_PAS" base="GTI" type="71" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Данные" 					storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Данные калиброванные" 		storage = "input" 	addr = "1403" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI DPL" base="GTI" type="72" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Угол" 						storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Угол калиброванный" 		storage = "input" 	addr = "1402" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
		
	<sensor name="GTI DOL100" base="GTI" type="61" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3"				title = "Частота калиброванная" 	storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"  calTable = "0"/>
		<channel id = "3" source = "data3"/>
		
		<register id = "mode" 				title = "Режим работы" 				storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "div" 				title = "Делитель" 					storage = "holding" addr = "704" 	type = "uint16"/>
		<register id = "freq" 				title = "Частота таймера" 			storage = "holding" addr = "705" 	type = "uint32"/>
		
	</sensor>
	
	<sensor name="GTI DDI_DT_TERM" base="GTI" type="74" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Давление калиброванное" 	storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		<register id = "a" 					title = "Коэф. а" 					storage = "holding" addr = "709" 	type = "float"/>
		<register id = "temp_calib" 		title = "Калиб. темп" 				storage = "holding" addr = "711" 	type = "float"/>
		
	</sensor>

</config>
