<?xml version="1.0" encoding="UTF-8"?>
<config>

	
	<network name = "GTI_SWOP" 			config="115200,8,1,0,0"/>
	<class id = "GTI_SWOP" 				queryRegAddress = "1202"	storage = "input" 	networkTimeout = "200"/>
	
	<sensor name = "GTI_SWOP" class = "GTI_SWOP" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "100" >
		
		<register id = "hSerial" 			title = "Серийный номер" 				storage = "holding"	addr = "700"	type = "uint32"/>	
		
		<register id = "serial" 			title = "Серийный номер" 				storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 						storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 				storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 					storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 			title = "Время наработки" 				storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 				storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 					storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 				storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 				storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 				storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 			title = "Количество каналов"				storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 			title = "Каналы 1-4" 					storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8"			title = "Каналы 5-8" 					storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "cntTable" 			title = "Количество таблиц"	 			storage = "holding" 	addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 			title = "Адрес таблицы 1" 				storage = "holding" 	addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 			title = "Размер таблицы 1" 				storage = "holding" 	addr = "802" 	type = "uint16"/>
		<register id = "addrTable2" 			title = "Адрес таблицы 2" 				storage = "holding" 	addr = "803" 	type = "uint16"/>
		<register id = "sizeTable2" 			title = "Размер таблицы 2" 				storage = "holding" 	addr = "804" 	type = "uint16"/>
		
		<register id = "status" 			title = "Статус"					storage = "input" 	addr = "1400" 	type = "uint16"/>				
				
		<register id = "status_1" 			title = "БЗУД: Статус" 					storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data1_1" 			title = "БЗУД: Статус мотора"				storage = "input" 	addr = "1402" 	type = "uint16"/>
		<register id = "data2_1" 			title = "БЗУД: Активная мощность "			storage = "input" 	addr = "1403" 	type = "uint16"/>
		
		<register id = "mask" 				title = "БЗУД: Маска дискретных выходов"		storage = "holding" addr = "600" 	type = "int32"/>
		<register id = "value" 				title = "БЗУД: Значение дискретных выходов"		storage = "holding" addr = "602" 	type = "int32"/>

		<register id = "cmd" 				title = "Команды СВОП"					storage = "holding" addr = "604" 	type = "uint16"/>

		<register id = "time_job" 			title = "Время работы, мс"				storage = "holding" addr = "708" 	type = "uint32"/>
		<register id = "time_delay" 			title = "Время паузы, мс"				storage = "holding" addr = "706" 	type = "uint32"/>
		
		<register id = "status_2"	 			title = "ДНК1: Статус" 			storage = "input" 	addr = "1404" 	type = "uint16"/>
		<register id = "data1_2" 				title = "ДНК1: Вес, кг"			storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data2_2" 				title = "ДНК1: Коды"			storage = "input" 	addr = "1407" 	type = "int32"/>
		
		
		<register id = "status_3" 			title = "ДНК2: Статус" 				storage = "input" 	addr = "1409" 	type = "uint16"/>
		<register id = "data1_3" 			title = "ДНК2: Вес, ru" 			storage = "input" 	addr = "1410" 	type = "float"/>
		<register id = "data2_3" 			title = "ДНК2: Коды" 				storage = "input" 	addr = "1412" 	type = "int32"/>
		
		
		

		<register id = "status_4" 			title = "ДОП-М: Статус" 					storage = "input" 	addr = "1414" 	type = "uint16"/>
		<register id = "data1_4" 			title = "ДОП-М: Счетчик" 					storage = "input" 	addr = "1415" 	type = "uint32"/>
		<register id = "data2_4"			title = "ДОП-М: Частота" 					storage = "input" 	addr = "1417" 	type = "float"/>
		
		<register id = "sum_mass"			title = "Суммарная масса, кг" 					storage = "input" 	addr = "1419" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "sum_mass"/>
		<!--  <channel id = "1" source = "status_1"/> 
		 <channel id = "2" source = "data1_1"/>
		 <channel id = "3" source = "data2_1"/>		
		
		
		 <channel id = "4" source = "status_2"/>
		 <channel id = "5" source = "data1_2"/>
		 <channel id = "6" source = "data2_2"/>
		
		 <channel id = "7" source = "status_3"/>
		 <channel id = "8" source = "data1_3"/>
		 <channel id = "9" source = "data2_3"/>
		
		
		<channel id = "10" source = "status_4"/>
		<channel id = "11" source = "data1_4"/>
		<channel id = "12" source = "data2_4"/> 
-->
				
				
		<command id = "registers"			title = "Регистры" 					method = "registers"/>
		<command id = "channels" 			title = "Каналы" 					method = "channels"/>
		<command id = "setAddr" 			title = "Задать адрес" 					method = "requestSetAddress"	args="hSerial"/>
		<command id = "reset" 				title = "Перезапуск датчика"				method = "requestReset"/>

		
	</sensor>
</config>
