<?xml version="1.0" encoding="UTF-8"?>
<config>

	<network name = "GTI_OLD" 		config="115200,8,1,0,0"/>
	
	<class id = "GTI_OLD" 		    queryRegAddress = "1202"	storage = "input"  	networkTimeout = "200"/>
	
	<sensor name = "GTI_OLD" class = "GTI_OLD" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "250" firmwarePath = "">
		
		<register id = "serial" 			title = "Серийный номер" 			storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 						storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 		storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 				storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 		title = "Время наработки" 			storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 		storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 				storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 			storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 			storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 		storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 		title = "Количество каналов" 		storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 		title = "Каналы 1-4" 				storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8"			title = "Каналы 5-8" 				storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "cntTable" 			title = "Количество таблиц" 		storage = "holding" addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 		title = "Адрес таблицы 1" 			storage = "holding" addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 		title = "Размер таблицы 1" 			storage = "holding" addr = "802" 	type = "uint16"/>
		
		
		
		<command id = "registers"			title = "Регистры" 					method = "registers"/>
		<command id = "channels" 			title = "Каналы" 					method = "channels"/>
		
	</sensor>

	<sensor name="GTI OLD DOL48" base="GTI_OLD" type="21" calTables="2">
	
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1400" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1402" 	type = "float"/>
		
		<channel id = "0" source = "data1"/>
		<channel id = "1" source = "data2"/>
		
	</sensor>

	<sensor name="GTI OLD DOPM" base="GTI_OLD" type="22" calTables="3">
	
		<register id = "data1"  			title = "Наличие магнита"			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data2" 				title = "Счетчик" 					storage = "input" 	addr = "1401" 	type = "uint32"/>
		<register id = "data3"				title = "Частота" 					storage = "input" 	addr = "1403" 	type = "float"/>
		
		<channel id = "0" source = "data1"/>
		<channel id = "1" source = "data2"/>
		<channel id = "2" source = "data3"/>
		
	</sensor>

	<sensor name="GTI OLD DOPM-01" base="GTI_OLD" type="38" calTables="2">
	
		<register id = "data1" 				title = "Счетчик" 					storage = "input" 	addr = "1400" 	type = "int32"/>
		<register id = "data2"				title = "Частота" 					storage = "input" 	addr = "1402" 	type = "float"/>
		
		<channel id = "0" source = "data1"/>
		<channel id = "1" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI OLD DNK" base="GTI_OLD" type="23" calTables="1">
	
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
	</sensor>
	
	<sensor name="GTI OLD DDI" base="GTI_OLD" type="24" calTables="1">
	
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
	</sensor>
	
	<sensor name="GTI OLD DUP" base="GTI_OLD" type="27" calTables="1">
	
		<register id = "data1" 			    title = "Коды"		        		storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
	</sensor>
	
	<sensor name="GTI OLD DT" base="GTI_OLD" type="29" calTables="1">
	
		<register id = "data1" 				title = "Коды" 				        storage = "input" 	addr = "1400" 	type = "int16"/>
		
		<channel id = "0" source = "data1"/>
		
	</sensor>
	
	<sensor name="GTI OLD DUU" base="GTI_OLD" type="37" calTables="0">
	
		<register id = "data1" 				title = "Коды"   					storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
	</sensor>
	
	<sensor name="GTI OLD DPL" base="GTI_OLD" type="28" calTables="0">
	
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
	</sensor>
	
		<sensor name="GTI OLD PAS" base="GTI_OLD" type="34" calTables="0">
	
		<register id = "data1" 			    title = "Коды тока" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data2" 				title = "Коды напряжения"				storage = "input" 	addr = "1401" 	type = "uint16"/>
		
		
		<channel id = "0" source = "data1"/>
		<channel id = "1" source = "data2"/>
		
	</sensor>
	
		<sensor name="GTI OLD DMR" base="GTI_OLD" type="26" calTables="0">
	
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
		
	</sensor>

	<sensor name="GTI OLD DPA" base="GTI_OLD" type="35" calTables="0">
	
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
	</sensor>

</config>
