<?xml version="1.0" encoding="UTF-8"?>
<config>

	<network name = "GVL" 			config="115200,8,1,0,0"/>

	<class id = "GVL" 				queryRegAddress = "1202"	storage = "input" 	networkTimeout = "200"/>
	
<!--MKGVL class and sensor define-->

<sensor name = "GVL" class = "GVL" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "250" firmwarePath = "C:/Users/KurbakoAV/Desktop">
		
		<register id = "hSerial" 			title = "Серийный номер" 			storage = "holding"	addr = "700"	type = "uint32"/>
		<register id = "hType" 				title = "Тип" 						storage = "holding"	addr = "702" 	type = "uint16"		format = "typeName"/>
		
		<register id = "serial" 			title = "Серийный номер" 			storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 						storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 		storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 				storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 		title = "Время наработки" 			storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 		storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 				storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 			storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 			storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 		storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 		title = "Количество каналов" 		storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 		title = "Каналы 1-4" 				storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8"			title = "Каналы 5-8" 				storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "t_max" 				title = "Максимальная температура" 	storage = "input" 	addr = "1223" 	type = "float"		hint = "50"/>
		<register id = "t_min" 				title = "Минимальная температура" 	storage = "input" 	addr = "1225" 	type = "float"		hint = "-50"/>
		<register id = "t_current" 			title = "Текущая температура" 		storage = "input" 	addr = "1227" 	type = "float"/>
		
		<register id = "cntTable" 			title = "Количество таблиц" 		storage = "holding" addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 		title = "Адрес таблицы 1" 			storage = "holding" addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 		title = "Размер таблицы 1" 			storage = "holding" addr = "802" 	type = "uint16"/>
		
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Температура" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура калиброванная" storage = "input" 	addr = "1403" 	type = "double"/>
		<register id = "data3" 				title = "Ток коды" 					storage = "input" 	addr = "1426" 	type = "uint16"/>
		<register id = "data4" 				title = "Ток рассчетный" 			storage = "input" 	addr = "1427" 	type = "float"/>
		
		<register id = "extendStat1" 		title = "Расширенный статус1" 		storage = "input" 	addr = "1429" 	type = "uint16"/>
		<register id = "extendStat2" 		title = "Расширенный статус2" 		storage = "input" 	addr = "1430" 	type = "uint16"/>
		<register id = "extendStat3" 		title = "Расширенный статус3" 		storage = "input" 	addr = "1431" 	type = "uint16"/>
		<register id = "extendStat4" 		title = "Расширенный статус4" 		storage = "input" 	addr = "1432" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" 	calTable = "0"/>
		<channel id = "2" source = "data2" />
		<channel id = "3" source = "data3" />
		<channel id = "4" source = "data4" />
		
		<command id = "registers"			title = "Регистры" 					method = "registers"/>
		<command id = "channels" 			title = "Каналы" 					method = "channels"/>
		<command id = "reset" 				title = "Перезапуск датчика"		method = "requestReset"/>
		
	</sensor>

	<sensor name="GTI MKGVL" base="GTI" type="73" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Температура" 					storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Влажность" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Давление" 						storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "Расход" 						storage = "input" 	addr = "1407" 	type = "float"/>
		<register id = "data5" 				title = "Расход калиброванный" 			storage = "input" 	addr = "1409" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		<channel id = "4" source = "data4"  calTable = "0"/>
		<channel id = "5" source = "data5"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		
	</sensor>
</config>
