<?xml version="1.0" encoding="UTF-8"?>
<config>

	
	<network name = "GTI_HYBRID" 			config="115200,8,1,0,0"/>
	<class id = "GTI_HYBRID" 				queryRegAddress = "1202"	storage = "input" 	networkTimeout = "200"/>
	
	<sensor name = "GTI_HYBRID" class = "GTI_HYBRID" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "500" >
		
		<register id = "hSerial" 			title = "Серийный номер" 			storage = "holding"	addr = "700"	type = "uint32"/>
		<register id = "hType" 				title = "Тип" 					storage = "holding"	addr = "702" 	type = "uint16"		format = "typeName"/>
		
		<register id = "serial" 			title = "Серийный номер" 			storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 					storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 			storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 				storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 			title = "Время наработки" 			storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 			storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 				storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 			storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 			storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 			storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 			title = "Количество каналов" 			storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 			title = "Каналы 1-4" 				storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8"			title = "Каналы 5-8" 				storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "t_max" 				title = "Максимальная температура" 		storage = "input" 	addr = "1223" 	type = "float"		hint = "50"/>
		<register id = "t_min" 				title = "Минимальная температура" 		storage = "input" 	addr = "1225" 	type = "float"		hint = "-50"/>
		<register id = "t_current" 			title = "Текущая температура" 			storage = "input" 	addr = "1227" 	type = "float"/>
		
		<register id = "bootloader_mark" 		title = "Марка загрузчика" 			storage = "holding" 	addr = "5000" 	type = "uint16"/>
		<register id = "bootloader_flag" 		title = "Флаг загрузчика" 			storage = "holding" 	addr = "5001" 	type = "uint32"/>
		
		<register id = "cntTable" 			title = "Количество таблиц"	 		storage = "holding" 	addr = "800" 	type = "uint16"/>
		<register id = "addrTable1" 			title = "Адрес таблицы 1" 			storage = "holding" 	addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 			title = "Размер таблицы 1" 			storage = "holding" 	addr = "802" 	type = "uint16"/>
		
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16" 	
																																		format = "hexadecimal" 
																																		hint = "Выход за рабочий диапазон по температуре;
																																				;
																																				Внешний датчик отключен;
																																				;
																																				;
																																				Ошибка на шине;
																																				Ошибка  данных;
																																				Ошибка тактовой частоты контроллера;
																																				Тестовая прошивка;
																																				Внешняя ошибка;
																																				Ошибка в калибровочной таблице"/>
		<register id = "data1" 				title = "Температура" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура калиброванная" storage = "input" 	addr = "1403" 	type = "double"/>
		<register id = "data3" 				title = "Ток коды" 					storage = "input" 	addr = "1426" 	type = "uint16"/>
		<register id = "data4" 				title = "Ток рассчетный" 			storage = "input" 	addr = "1427" 	type = "float"/>
		
		<register id = "extendStat1" 		title = "Расширенный статус1" 		storage = "input" 	addr = "1429" 	type = "uint16" 
																																		format = "hexadecimal" 
																																		hint = "Ошибка FRAM;
																																				Ошибка датчика температуры на плате;
																																				Ошибка на шине с АЦП;
																																				Ошибка на шине с BME280;
																																				Ошибка на шине с AS5601;
																																				Ошибка на шине с экраном;
																																				Ошибка на шине с TMP112;
																																				Ошибка на шине с ИСМ"/>
		<register id = "extendStat2" 		title = "Расширенный статус2" 		storage = "input" 	addr = "1430" 	type = "uint16"
																																		format = "hexadecimal" 
																																		hint = "Ошибка тензомоста;
																																				Ошибка данных AS5601"/>
		<register id = "extendStat3" 		title = "Расширенный статус3" 		storage = "input" 	addr = "1431" 	type = "uint16"/>
		<register id = "extendStat4" 		title = "Расширенный статус4" 		storage = "input" 	addr = "1432" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" 	calTable = "0"/>
		<channel id = "2" source = "data2" />
		<channel id = "3" source = "data3" />
		<channel id = "4" source = "data4" />
		
		<command id = "registers"			title = "Регистры" 					method = "registers"/>
		<command id = "channels" 			title = "Каналы" 					method = "channels"/>
		<command id = "setAddr" 			title = "Задать адрес" 				method = "requestSetAddress"	args="hSerial"/>
		<command id = "reset" 				title = "Перезапуск датчика"		method = "requestReset"/>
		<command id = "updateFW" 			title = "Обновить прошивку" 		method = "firmwareUpload" 		args = "extCmd68,5001,24,0,131072,image (*.bin)"/>
		<command id = "broadcast" 			title = "Широковещательный адрес" 	method = "requestSetBroadcast"/>
		
	</sensor>
	
	<sensor name="GTI DUP" base="GTI_HYBRID" type="47" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Уровень" 					storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Уровень калиброванный"				storage = "input" 	addr = "1403" 	type = "double"/>
		<register id = "data3" 				title = "Кол-во активных элементов"			storage = "input" 	addr = "1407" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"	calTable = "0"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		
	</sensor>
	
	<sensor name="GTI DDI_DT_TERM" base="GTI_HYBRID" type="74" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Коды" 						storage = "input" 	addr = "1401" 	type = "int32"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Давление калиброванное" 	storage = "input" 	addr = "1405" 	type = "double"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "704" 	type = "int32"/>
		<register id = "adc_power_mode" 	title = "Режим работы" 				storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "708" 	type = "uint16"/>
		<register id = "a" 					title = "Коэф. а" 					storage = "holding" addr = "709" 	type = "float"/>
		<register id = "temp_calib" 		title = "Калиб. темп" 				storage = "holding" addr = "711" 	type = "float"/>
		
	</sensor>
	
	<sensor name="GTI DNRF" base="GTI_HYBRID" type="75" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Сопротивление" 			storage = "input" 	addr = "1401" 	type = "double"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data3" 				title = "Напряжение" 				storage = "input" 	addr = "1407" 	type = "float"/>
		<register id = "data4" 				title = "Обороты" 					storage = "input" 	addr = "1409" 	type = "int32"/>
		<register id = "data5" 				title = "Подключение двигателя" 	storage = "input" 	addr = "1411" 	type = "uint16"/>
		
		<register id = "threshold" 			title = "Порог повреждения" 		storage = "holding" addr = "703" 	type = "float"/>

		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		<channel id = "4" source = "data4"/>
		<channel id = "5" source = "data5"/>
		
	</sensor>
	
	<sensor name="GTI METEO" base="GTI_HYBRID" type="80" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Влажность" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Давление" 					storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Температура" 				storage = "input" 	addr = "1405" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		
	</sensor>
	
	
	<sensor name="GTI DNK CL" base="GTI_HYBRID" type="83" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Вес" 						storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 						storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2" calTable = "0"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "708" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "710" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "711" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DDI CL" base="GTI_HYBRID" type="84" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Давление" 					storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 						storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2" calTable = "0"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "708" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "710" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "711" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DPL CL" base="GTI_HYBRID" type="85" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Положение" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 						storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2" calTable = "0"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "708" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "710" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "711" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DMR CL" base="GTI_HYBRID" type="86" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Момент" 					storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 						storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2" calTable = "0"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "708" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "710" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "711" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DMR OLD Vout" base="GTI_HYBRID" type="26" calTables="1">
	
		<register id = "data1" 			    title = "Коды" 					    storage = "input" 	addr = "1400" 	type = "uint16"/>
		
		<channel id = "0" source = "data1"/>
		
		
		<register id = "A" 			        title = "коэффициент наклона" 	    storage = "holding" addr = "701" 	type = "float"/>
		<register id = "B" 			        title = "смещение"               	storage = "holding" addr = "703" 	type = "float"/>
		
		
	</sensor>
	
	<sensor name="GTI DPA CL" base="GTI_HYBRID" type="90" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Плотность" 				storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Коды" 						storage = "input" 	addr = "1403" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2" calTable = "0"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "708" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "710" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "711" 	type = "uint16"/>
		
	</sensor>
	
	<sensor name="GTI DPI" base="GTI_HYBRID" type="158" calTables="1">
	
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Плотность" 			storage = "input" 	addr = "1401" 	type = "float"/>
		
		<register id = "density1" 			title = "Плотность 1"       		storage = "input" 	addr = "1229" 	type = "uint32"/>
		<register id = "density2" 			title = "Плотность 2"       		storage = "input" 	addr = "1231" 	type = "uint32"/>
		<register id = "density3" 			title = "Плотность 3"       		storage = "input" 	addr = "1233" 	type = "uint32"/>
		<register id = "density4" 			title = "Плотность 4"       		storage = "input" 	addr = "1235" 	type = "uint32"/>
		
		<register id = "extTemp1" 			title = "Внешняя температура 1"		storage = "input" 	addr = "1237" 	type = "float"/>
		<register id = "extTemp2" 			title = "Внешняя температура 2"		storage = "input" 	addr = "1239" 	type = "float"/>
		<register id = "uPower" 			title = "Входное напряжение"		storage = "input" 	addr = "1241" 	type = "float"/>
		
		<register id = "sec"     			title = "Секунды"       	    	storage = "input" 	addr = "1243" 	type = "uint16"/>
		<register id = "min" 	    		title = "Минуты"            		storage = "input" 	addr = "1244" 	type = "uint16"/>
		
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		
		<channel id = "2" source = "density1"/>
		<channel id = "3" source = "density2"/>
		<channel id = "4" source = "density3"/>
		<channel id = "5" source = "density4"/>
		
		<channel id = "6" source = "extTemp1"/>
		<channel id = "7" source = "extTemp2"/>
		
		
		<register id = "threshold1" 		title = "Порог 1"           	    storage = "holding" addr = "703" 	type = "uint16"/>
		<register id = "threshold2" 		title = "Порог 2"           	    storage = "holding" addr = "704" 	type = "uint16"/>
		<register id = "threshold3" 		title = "Порог 3"           	    storage = "holding" addr = "705" 	type = "uint16"/>
		<register id = "threshold4" 		title = "Порог 4"           	    storage = "holding" addr = "706" 	type = "uint16"/>
		<register id = "uFeu"       		title = "Напряжение на ФЭУ"    	    storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "k0"         		title = "Коэффициент к0"    	    storage = "holding" addr = "708" 	type = "double" precision="12"/>
		<register id = "k1"         		title = "Коэффициент к1"    	    storage = "holding" addr = "712" 	type = "double" precision="17"/>
		<register id = "k2"         		title = "Коэффициент к2"    	    storage = "holding" addr = "716" 	type = "double" precision="24"/>
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "720" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "722" 	type = "float"/>
	</sensor>
	
	
	<sensor name="GTI DDI_TERM_SCR_CL" base="GTI_HYBRID" type="151" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Давление калиброванное" 	storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Коды" 						storage = "input" 	addr = "1405" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3" calTable = "0"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "708" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "710" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "711" 	type = "uint16"/>
		<register id = "a" 					title = "Коэф. а" 					storage = "holding" addr = "712" 	type = "float"/>
		<register id = "temp_calib" 		title = "Калиб. темп" 				storage = "holding" addr = "714" 	type = "float"/>
		
	</sensor>
	
	<sensor name="GTI DDI_TERM_CL" base="GTI_HYBRID" type="152" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Давление калиброванное" 	storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Коды" 						storage = "input" 	addr = "1405" 	type = "int32"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3" calTable = "0"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		<register id = "adc_gain" 			title = "Коэф. усиления" 			storage = "holding" addr = "707" 	type = "uint16"/>
		<register id = "adc_offset" 		title = "Сдвиг" 					storage = "holding" addr = "708" 	type = "int32"/>
		<register id = "adc_ft" 			title = "Тип фильтра" 				storage = "holding" addr = "710" 	type = "uint16"/>
		<register id = "adc_sps" 			title = "Кол. измерений в секунду" 	storage = "holding" addr = "711" 	type = "uint16"/>
		<register id = "a" 					title = "Коэф. а" 					storage = "holding" addr = "712" 	type = "float"/>
		<register id = "temp_calib" 		title = "Калиб. темп" 				storage = "holding" addr = "714" 	type = "float"/>
		
		<command id = "updatePassport"		title = "Обновить паспорт"  		method = "sendRaw" 		args = "0x69,0x01,0x00"/>
		<command id = "updateCalib"	    	title = "Обновить калибровки"  		method = "sendRaw" 		args = "0x69,0x02,0x00"/>
		
	</sensor>
	
	<sensor name="GTI GAS H2S" base="GTI_HYBRID" type="155" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Концентрация H2S 0-50 ml/m3" 	storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Год окончания работы"   		storage = "input" 	addr = "1403" 	type = "uint16"/>
		<register id = "data3" 				title = "Месяц окончания работы"   		storage = "input" 	addr = "1404" 	type = "uint16"/>
		<register id = "data4" 				title = "День окончания работы"   		storage = "input" 	addr = "1405" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		
	</sensor>
	
		<sensor name="GTI GAS CO2" base="GTI_HYBRID" type="156" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Концентрация CO2 0-5% об.д" 	storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Год окончания работы"   		storage = "input" 	addr = "1403" 	type = "uint16"/>
		<register id = "data3" 				title = "Месяц окончания работы"   		storage = "input" 	addr = "1404" 	type = "uint16"/>
		<register id = "data4" 				title = "День окончания работы"   		storage = "input" 	addr = "1405" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		
	</sensor>
	
		<sensor name="GTI GAS CH" base="GTI_HYBRID" type="157" calTables="1">
	
		<register id = "status" 			title = "Статус" 						storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Концентрация CH 0-100 НКПР" 	storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Год окончания работы"   		storage = "input" 	addr = "1403" 	type = "uint16"/>
		<register id = "data3" 				title = "Месяц окончания работы"   		storage = "input" 	addr = "1404" 	type = "uint16"/>
		<register id = "data4" 				title = "День окончания работы"   		storage = "input" 	addr = "1405" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		
	</sensor>
	
	<sensor name="GTI DEPR" base="GTI_HYBRID" type="107" calTables="1">
	
		<register id = "status" 			title = "Статус" 		        storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Проводимость, сименс/м"	storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура"			storage = "input" 	addr = "1403" 	type = "float"/>
		
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI DEPR" base="GTI_HYBRID" type="153" calTables="1">
	
		<register id = "status" 			title = "Статус" 		        storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Проводимость, сименс/м"	storage = "input" 	addr = "1401" 	type = "float"/>
		<register id = "data2" 				title = "Температура"			storage = "input" 	addr = "1403" 	type = "float"/>
		
		<register id = "minValue" 			title = "Минимальное значение" 	    storage = "holding" addr = "703" 	type = "float"/>
		<register id = "maxValue" 			title = "Максимальное значение" 	storage = "holding" addr = "705" 	type = "float"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1" calTable = "0"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
	
	<sensor name="GTI MSG" base="GTI_HYBRID" type="154" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Скорость ветра"		    storage = "input" 	addr = "1401" 	type = "float"/>
		
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		
	</sensor>

	<sensor name="GTI DIO" base="GTI_HYBRID" type="159" calTables="1">
	
		<register id = "status" 			title = "Статус" 					storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Выхода"				    storage = "input" 	addr = "1401" 	type = "uint16"/>
		<register id = "data2" 				title = "Входа"					    storage = "input" 	addr = "1402" 	type = "uint16"/>
		
		<register id = "dout" 				title = "OUT"		 				storage = "holding" addr = "600" 	type = "uint16"/>
		<register id = "din" 				title = "IN" 						storage = "holding" addr = "601" 	type = "uint16"/>

		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		
	</sensor>
</config>
