<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<network name = "SNKSIK" 		config="115200,8,1,0,0"/>
	
	<class id = "SNKSIK" 			queryRegAddress = "1202"	storage = "input" 	networkTimeout = "200"/>
	
<!--SNKSIK sensor define-->
	<sensor name = "SNKSIK" class = "SNKSIK" type = "0" calTables = "1" calTablesIndexAddr = "800" calTablesAddr = "1800" refreshTime = "250">
		
		<register id = "hSerial" 			title = "Серийный номер" 		storage = "holding"	addr = "700"	type = "uint32"/>
		<register id = "hType" 				title = "Тип" 				storage = "holding"	addr = "702" 	type = "uint32"		format = "typeName"/>
		
		<register id = "serial" 			title = "Серийный номер" 		storage = "input"	addr = "1200" 	type = "uint32"/>
		<register id = "type" 				title = "Тип" 				storage = "input" 	addr = "1202" 	type = "uint16"		format = "typeName"/>
		<register id = "hwVersion" 			title = "Версия аппаратная" 		storage = "input" 	addr = "1203" 	type = "uint16"/>
		<register id = "swVersion" 			title = "Версия ПО" 			storage = "input" 	addr = "1205" 	type = "uint32"		format = "version"/>
		<register id = "powerOnTime" 			title = "Время наработки" 		storage = "input" 	addr = "1207" 	type = "uint32"/>
		<register id = "powerWork" 			title = "Время с включения" 		storage = "input" 	addr = "1209" 	type = "uint16"/>
		<register id = "dataAddr" 			title = "Адрес данных" 			storage = "input" 	addr = "1210" 	type = "uint16"/>
		<register id = "dataQty" 			title = "Размер данных" 		storage = "input" 	addr = "1211" 	type = "uint16"/>
		<register id = "calibAddr" 			title = "Адрес калибровок" 		storage = "input" 	addr = "1212" 	type = "uint16"/>
		<register id = "dcalibQty" 			title = "Размер калибровок" 		storage = "input" 	addr = "1213" 	type = "uint16"/>
		<register id = "channelCount" 			title = "Количество каналов" 		storage = "input" 	addr = "1216" 	type = "uint16"/>
		<register id = "channel1_4" 			title = "Каналы 1-4"			storage = "input" 	addr = "1217" 	type = "uint16"/>
		<register id = "channel5_8"			title = "Каналы 5-8"			storage = "input" 	addr = "1218" 	type = "uint16"/>
		
		<register id = "t_max" 				title = "Максимальная температура" 	storage = "input" 	addr = "1223" 	type = "float"		hint = "50"/>
		<register id = "t_min" 				title = "Минимальная температура" 	storage = "input" 	addr = "1225" 	type = "float"		hint = "-50"/>
		<register id = "t_current" 			title = "Текущая температура" 		storage = "input" 	addr = "1227" 	type = "float"/>
		
		
		<register id = "cntTable" 			title = "Количество таблиц" 		storage = "holding" addr = "800" 	type = "uint16"/>
		<register id = "addrTable1"	 		title = "Адрес таблицы 1" 		storage = "holding" addr = "801" 	type = "uint16"/>
		<register id = "sizeTable1" 			title = "Размер таблицы 1"		storage = "holding" addr = "802" 	type = "uint16"/>
		
		<register id = "status" 			title = "Статус" 			storage = "input" 	addr = "1400" 	type = "uint16"/>

		
		<channel id = "0" source = "status"/>
		
		<command id = "registers"			title = "Регистры" 			method = "registers"/>
		<command id = "channels" 			title = "Каналы" 			method = "channels"/>
		<command id = "reset" 				title = "Перезапуск датчика"		method = "requestReset"/>
		<command id = "DCPlot" 				title = "Отобразить в DCPlot" 		method = "execute" args="DCPlot.exe --projectpath %dcdPath%"/>
		<command id = "sinchro"				title = "Синхронизация регистров" 	method = "synchronize"/>
	</sensor>

	<sensor name="MUSI" base="SNKSIK" type="105" calTables="0">
	
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Сопротивление" 			storage = "input" 	addr = "1401" 	type = "uint32"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Напряжение" 				storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "Обороты" 				storage = "input" 	addr = "1407" 	type = "int32"/>
		<register id = "data5" 				title = "Скорость оборотов" 	    		storage = "input" 	addr = "1409" 	type = "float"/>
		<register id = "data6" 				title = "Флаги" 				storage = "input" 	addr = "1411" 	type = "uint16"/>
	
		<register id = "threshold" 			title = "Порог повреждения, Ом"			storage = "holding" 	addr = "704" 	type = "uint32"/>
		<register id = "timeout" 			title = "Период опроса, с" 			storage = "holding" 	addr = "706" 	type = "uint32"/>
		
		<register id = "data7" 				title = "Время, до конца измерения, с" 		storage = "input" 	addr = "1412" 	type = "int32"/>

		<register id = "start"	 			title = "Старт"		 			storage = "holding" 	addr = "2400" 	type = "uint16"/>	
		<register id = "stop" 				title = "Стоп" 					storage = "holding" 	addr = "2401" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		<channel id = "4" source = "data4"/>
		<channel id = "5" source = "data5"/>
		<channel id = "6" source = "data6"/>
		<channel id = "7" source = "data7"/>
		
	</sensor>
	<sensor name="MUSI_GRAPH" base="SNKSIK" type="106" calTables="0">
	
		<register id = "status" 			title = "Статус" 				storage = "input" 	addr = "1400" 	type = "uint16"/>
		<register id = "data1" 				title = "Сопротивление" 			storage = "input" 	addr = "1401" 	type = "uint32"/>
		<register id = "data2" 				title = "Температура" 				storage = "input" 	addr = "1403" 	type = "float"/>
		<register id = "data3" 				title = "Напряжение" 				storage = "input" 	addr = "1405" 	type = "float"/>
		<register id = "data4" 				title = "Обороты" 				storage = "input" 	addr = "1407" 	type = "int32"/>
		<register id = "data5" 				title = "Скорость оборотов" 	    		storage = "input" 	addr = "1409" 	type = "float"/>
		<register id = "data6" 				title = "Флаги" 				storage = "input" 	addr = "1411" 	type = "uint16"/>
	
		<register id = "threshold" 			title = "Порог повреждения, Ом"			storage = "holding" 	addr = "704" 	type = "uint32"/>
		<register id = "timeout" 			title = "Период опроса, с" 			storage = "holding" 	addr = "706" 	type = "uint32"/>
		
		<register id = "data7" 				title = "Время, до конца измерения, с" 		storage = "input" 	addr = "1412" 	type = "int32"/>
		<register id = "data8" 				title = "Статус внешней антенны" 		storage = "input" 	addr = "1414" 	type = "uint16"/>
		
		<channel id = "0" source = "status"/>
		<channel id = "1" source = "data1"/>
		<channel id = "2" source = "data2"/>
		<channel id = "3" source = "data3"/>
		<channel id = "4" source = "data4"/>
		<channel id = "5" source = "data5"/>
		<channel id = "6" source = "data6"/>
		<channel id = "7" source = "data7"/>
		<channel id = "8" source = "data8"/>
	</sensor>
</config>
